<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsz.text.dao.TroleMapper">
  <resultMap id="BaseResultMap" type="com.wsz.text.entity.Trole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rname" jdbcType="VARCHAR" property="rname" />
    <result column="info" jdbcType="VARCHAR" property="info" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rname, info
  </sql>
  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from t_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wsz.text.entity.Trole">
    insert into t_role (id, rname, info
      )
    values (#{id,jdbcType=INTEGER}, #{rname,jdbcType=VARCHAR}, #{info,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateById" parameterType="com.wsz.text.entity.Trole">
    update t_role
    <set>
      <if test="rname != null">
        rname = #{rname,jdbcType=VARCHAR},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from t_role order by id;
  </select>
  <select id="selectCount" resultType="java.lang.Long">
    select count(*) from t_role;
  </select>
  <select id="selectPage" resultMap="BaseResultMap">
    select * from t_role order by id limit #{index},#{count};
  </select>

  <select id="selectAllPerms" resultType="com.wsz.text.entity.Tpermission">
   select p.* from t_user_role ur
inner join t_role_permission rp on ur.rid=rp.rid
inner join t_permission p on rp.pid=p.id
where ur.rid=#{id} order by  type,level,id;
  </select>

</mapper>