<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsz.text.dao.TuserroleMapper">
  <resultMap id="BaseResultMap" type="com.wsz.text.entity.Tuserrole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="rid" jdbcType="INTEGER" property="rid" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, rid
  </sql>

  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from t_user_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wsz.text.entity.Tuserrole">
    insert into t_user_role (uid, rid)
    values  (#{uid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER})
  </insert>

  <update id="updateById" parameterType="com.wsz.text.entity.Tuserrole">
    update t_user_role
    set
      rid = #{rid,jdbcType=INTEGER}
    where uid = #{uid,jdbcType=INTEGER}
  </update>
  <delete id="deleteByUid" parameterType="java.lang.Integer" >
   delete from t_user_role where uid=#{uid,jdbcType=INTEGER}
  </delete>
  <select id="selectByUid" parameterType="java.lang.Integer" resultType="com.wsz.text.entity.Tuserrole">
    select r.* from t_user_role ur LEFT join t_role r on ur.rid=r.id where ur.uid=#{uid,jdbcType=INTEGER}
  </select>
  <insert id="insertBatch">
    insert into t_user_role (uid, rid) values
    <foreach collection="rids" separator="," item="rid">
      (#{uid,jdbcType=INTEGER}, #{rid,jdbcType=INTEGER})
    </foreach>
  </insert>
</mapper>